<MudAppBar Elevation="0" Color="Color.Primary">
    <MudSpacer />
    <h1>SPARKFLY</h1>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/BuenoVini/Sparkfly" Target="_blank" />
</MudAppBar>