@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Primary">
        <MudSpacer />
        <h1>SPARKFLY</h1>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/BuenoVini/Sparkfly" Target="_blank" />
    </MudAppBar>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Small" Class="my-4 py-4 d-flex justify-center">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _isDarkMode = true;
}