@page "/currently-playing"

@using Sparkfly.Main.Components
@using Sparkfly.Main.Data
@using Sparkfly.Main.RequestAPI

@implements IDisposable

@inject Spotify spotify

<PageTitle>Current playing</PageTitle>

<MudStack>
    <MudText Align="Align.Center" Typo="Typo.h6">You are listening to:</MudText>

    @if (track is not null)
    {
        <MudPaper Class="pa-4" MaxWidth="350px">
            <MudImage Class="rounded-lg align-self-center" Fluid="true" Src=@track.CoverSizesUrl[(int)CoverSize.Medium] Alt="Album current playing" Elevation="25" />

            <MudDivider Class="my-4" DividerType="DividerType.Middle" />

            <MudText Align="Align.Center" Typo="Typo.body1">@track.SongName</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">@track.ArtistsNames[0]</MudText>
            <div class="d-flex justify-center mt-2">
                <MudText Typo="Typo.caption">Suggested by <strong>Tiffany</strong>!</MudText>
            </div>
        </MudPaper>

        <MudText Class="mt-4" Align="Align.Center" Typo="Typo.h6">Playing next: </MudText>

        <TrackCard Track="@track" />
    }

</MudStack>

@code {
    private Timer? timer;
    private Track? track;

    protected override void OnInitialized()
    {
        timer = new Timer(async _ =>
        {
            track = await spotify.GetCurrentlyPlaying();
            await InvokeAsync(StateHasChanged);
        }, null, TimeSpan.Zero, TimeSpan.FromSeconds(30));
    }

    public void Dispose() => timer?.Dispose();  // TODO: make async ??
}