@page "/queue"
@using Sparkfly.Main.Components
@using Sparkfly.Main.Data
@using Sparkfly.Main.Services

@inject SparkflyManager Sparkfly
@inject ProtectedSessionStorage ProtectedSession

<MudStack>
    <h3>Queue</h3>

    @if (_votes is not null)
    {
        @foreach (var vote in _votes)
        {
            @if (vote.ClientId == _thisClientId)
            {
                <TrackCard Track="vote.VotedTrack" OnClickCallback="@RemoveVoteAsync" BtnFunc="TrackCard.BtnFunctionality.Remove" />
                // TODO: verify if the track is queued on Spotify already
            }
            else
            {
                <TrackCard Track="vote.VotedTrack" />
            }
        }
    }

</MudStack>

@code {
    private Queue<Vote>? _votes;
    private string? _thisClientId;

    // TODO: make the page update alongside the Timer

    protected override async Task OnInitializedAsync()
    {
        _thisClientId = (await ProtectedSession.GetAsync<Client>("this_client")).Value?.ClientId;
        _votes = Sparkfly.Votes;
    }

    private async Task RemoveVoteAsync(Track track)
    {
        if (_thisClientId is not null)
        {
            Sparkfly.RemoveVote(track, _thisClientId);
            _votes = Sparkfly.Votes;
            await InvokeAsync(StateHasChanged);     // NOTE: may not be necessary... see Blazor EventCallback with parameters
        }
    }
}
