@page "/search"

@using Sparkfly.Main.Components
@using Sparkfly.Main.RequestAPI
@using Sparkfly.Main.Data

@inject Spotify spotify
@inject NavigationManager NavigationManager
@inject RequestAPIHandler ApiHandler

<MudStack Class="d-flex flex-column flex-grow-1 gap-4">
    <form @onsubmit="SearchTracks">
        <MudContainer Class="px-0 mb-8">
            <MudTextField class="object-top" @bind-Value="UserInput" Label="Search for a track" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Primary" />
        </MudContainer>
    </form>

    @if (SearchedTracks is not null)
    {
        @foreach (Track track in SearchedTracks)
        {
            <TrackCard Track="track" />
        }
    }
</MudStack>

@code {
    public string? UserInput { get; set; }
    public List<Track>? SearchedTracks { get; set; }

    private async Task SearchTracks()
    {
        try
        {
            if (UserInput is not null)
                SearchedTracks = await spotify.SearchTracksAsync(UserInput);
        }
        catch (HttpRequestException e)
        {
            await ApiHandler.HandleHttpRequestAsync(e, spotify, NavigationManager);
        }
    }
}
