@page "/share-party"
@page "/share-party/{code}/{state}"

@using Sparkfly.Main.Services

@inject SparkflyManager Sparkfly

<h3>Share the Party Code!</h3>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string? Code { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "state")]
    public string? State { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Code is not null && State is not null)
            {
                await Sparkfly.SpotifyRequestTokensAsync(Code, State);
                Sparkfly.StartTimer();
            }
        }
    }
}
