@page "/unhandled-error"

@*TODO: add query params with message to specify the error*@

<h3>UnhandledErrorPage</h3>
<br />
@*<img src="https://tenor.com/view/taylor-swift-delicate-funny-face-love-gif-11423087" alt="funny Taylor Swift error" />*@
<iframe src="https://giphy.com/embed/fnDZMGKjXXOdDf7aFW" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylorswift-taylor-swift-delicate-fnDZMGKjXXOdDf7aFW">via GIPHY</a></p>

@code {

}
